<form action="/redirect/new" method="POST">
    <input type="text" name="path" placeholder="Path" />
    <input type="text" name="target" placeholder="Target" />
    <input type="submit" value="Submit">
</form>